<mat-toolbar class="products-header">
  <h2>Products</h2>
  <span class="row">
  <span class="search-bar">
        <mat-form-field class="full-width" appearance="fill" color="warn">
            <mat-label>Search...</mat-label>
            <input type="text" matInput placeholder="Ex. Vitamin D3" (keydown.enter)="searchProductName()"
                   [(ngModel)]="productName"/>
            <span id="searchIcon" matIconPrefix><mat-icon color="warn">search</mat-icon></span>
        </mat-form-field>
    </span>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteFilters()">
      <mat-icon>filter_alt_off</mat-icon>
    </button>
</span>
  <span class="products-per-page">
        <mat-form-field appearance="fill">
            <mat-select [formControl]="pppControl" placeholder="Products per page" name="pages"
                        (selectionChange)="handlePageSizeChange($event.value)">
                <mat-option *ngFor="let size of pageSizes" [value]="size">
                    {{size}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="filter-sidebar"
               [fixedInViewport]="false" [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <h3>Filter</h3>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="categories-tree">
      <!-- This is the tree node template for a category that is leaf -->
      <mat-tree-node *matTreeNodeDef="let category" matTreeNodeToggle class="leafNode"
                     (click)="filterByCategory(category)">
        {{category.name}}
      </mat-tree-node>

      <!-- This is the tree node template for a node with subcategories -->
      <mat-nested-tree-node *matTreeNodeDef="let category; when: hasChild" (click)="filterByCategory(category)">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(category) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{category.name}}
        </div>
        <div [class.categories-tree-invisible]="!treeControl.isExpanded(category)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
    <mat-divider></mat-divider>
    <p *ngIf="selectedCategory!=null" style="color:#d2193e">Selected category: {{selectedCategory.name}}</p>
    <mat-divider></mat-divider>
    <h3>General attributes</h3>
    <form [formGroup]="generalFilterForm">
      <h4 for="location">Location</h4>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Location</mat-label>
        <mat-select placeholder="Choose location" formControlName="location">
          <mat-option>-------</mat-option>
          <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
        </mat-select>
      </mat-form-field>

      <h4>Price</h4>
      <span>
          <mat-form-field appearance="fill" class="price-field">
            <mat-label>Price From</mat-label>
            <input matInput type="number" placeholder="Price From" min="0" formControlName="priceFrom">
          </mat-form-field>
          <mat-form-field appearance="fill" class="price-field">
            <mat-label>Price To</mat-label>
            <input matInput type="number" placeholder="Price To" min="0" formControlName="priceTo">
          </mat-form-field>
        </span>
      <br>
      <mat-divider></mat-divider>

      <!-- Filter fields for clicked category. -->
      <form *ngIf="selectedCategory!=null" [formGroup]="specificFilterForm">
        <h3>Specific attributes</h3>
        <div *ngFor="let attribute of selectedCategory.attributes">
          <mat-form-field class="full-width">
            <mat-label>{{ attribute.name }}</mat-label>
            <input matInput formControlName="{{attribute.id}}">
          </mat-form-field>
          <br>
        </div>
      </form>

      <button mat-raised-button color="primary" type="submit" (click)="search()">
        <mat-icon>search</mat-icon>
        Search products
      </button>
    </form>
    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="cards-container">
      <app-box *ngFor="
          let product of products | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        " [class.active]="i == currentIndex" (click)="setActiveProduct(product, i)" [id]="product.id"
               [name]="product.name"
               [price]="product.price" [imageUrl]="product.images[0].imageUrl">
      </app-box>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="products-footer">
  <pagination-controls class="pagination" previousLabel="Prev" nextLabel="Next" [responsive]="true"
                       (pageChange)="handlePageChange($event)"></pagination-controls>
</div>


