.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-width: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.link-container {
    display: flex;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
}

mat-card-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

mat-form-field {
    margin-bottom: -1.5em;
}